/* ProfileForm.scss */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
.root-profile {
  display: flex;
  justify-content: center;
  width: 1100px;
  background-color: rgba(227, 221, 221, 0.912);
  padding: 56px 22px;
  overflow: auto;
}
.background-profile {
  overflow-y: auto;
  font-family: "Arial", sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  width: 90%;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #cccccc61;
  letter-spacing: 0;
  &.simple {
    height: 70vh;
  }

  &.vertical {
    height: 78vh;
  }
}
.background-profile *:not(i) {
  font-family: "Roboto", sans-serif;
}
.cvp-content.three {
  padding: 70px 40px 40px 40px !important;
  height: auto;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 13px;
}
.cvp-content {
  position: relative;
  width: 100% !important;
  overflow-wrap: break-word;
}
.box-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.box-top .box-img {
  flex: 1;
  margin-top: 80px;
  margin-right: 32px;
  padding-right: 10px;
}
.box-top .box-img .cv-photo {
  width: 185px;
  height: 185px;
  margin: auto 16px;
}
.box-name {
  width: 100%;
  flex: 2;
}
.box-top .box-name .box-name-contain {
  position: relative;
  padding-left: 35px;
  margin-bottom: 32px;
}
.name-custom {
  color: #1d1b21;
  margin-top: 0px !important;
  font-size: 40px !important;
  text-transform: unset !important;
  font-weight: inherit;
  letter-spacing: 2.8px;
}
.box-cv-name .name-cv {
  position: relative !important;
  margin-top: 7px;
  margin-left: -2px;
  text-transform: uppercase !important;
  font-size: 22px !important;
  letter-spacing: 1px;
  font-weight: 400;
}
.box-top .box-name .box-name-contain::after {
  content: "";
  position: absolute;
  left: 1px;
  height: 100%;
  width: 2px;
  top: 0;
  background-color: #1d1b21;
}
.box-info {
  padding-top: 10px;
  padding-left: 16px;
  margin-left: -22px;
  z-index: 1;
  position: relative;
}
.cvp-box-child-list .content-info {
  display: flex;
}
.content-info .change-font-size {
  margin-bottom: 28px;
  font-size: 15px !important;
}
.change-title-language{
  width: 81px;
  margin-top: 4px;
  vertical-align: middle;
  font-size: 15px !important;
}
.content-info i {
  position: relative;
  &::before {
    color: #ffffff;
    font-size: 15px;
  }
  &::after {
    background-color: #1d1b21 !important;
    content: "";
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: -11px;
    left: -10px;
    z-index: -1;
    opacity: 0.8;
  }
}
.content-info .icn-mars {
  margin-right: 22px;
}
.content-info .icn-cake {
  margin-right: 26px;
}
.content-info .icn-location {
  margin-right: 26px;
}
.info-item {
  line-height: 100% !important;
  min-width: 160px !important;
  position: relative !important;
  word-break: break-word;
  z-index: 1 !important;
}

.fa,
.fa-solid {
  font: normal normal normal 14px/1 FontAwesome, sans-serif;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-venus-mars::before {
  content: "\f228";
}
.fa-cake-candles::before {
  content: "\f1fd";
  margin-left: 2px;
}
.custom-icon {
  margin-bottom: 29px !important;
  display: flex;
  position: relative;
}
.box-left-email {
  margin-left: 8px;
  margin-bottom: 16px;
  & .icn-email {
    margin-right: 14px;
    vertical-align: middle;
  }
  & .info-email {
    font-size: 15px !important;
  }
}
.box-left-phone {
  margin-left: 83px;
  & .icn-phone {
    margin-right: 16px;
    vertical-align: middle;
  }
  & .info-phone {
    font-size: 15px !important;
  }
}
.fa-envelope-o::before {
  font-size: 20px;
  content: "\f003";
}
.fa-phone::before {
  font-size: 18px;
  content: "\f095";
}
.fa-location-dot::before {
  content: "\f3c5";
  margin-left: 2px;
  font-size: 16px;
}
.box-bottom {
  display: flex;
}
.box-bottom .box-left {
  flex: 1;
  padding-right: 37px;
}
.children-sort {
  z-index: 1;
  margin-bottom: 34px;
}
.title-block {
  display: flex;
  align-items: center;
  gap: 77px;
  overflow: hidden;
  margin-top: -10px;
  padding-top: 12px;
}
.rating-child {
  width: 100px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-right: 32px;
  & span {
    margin-top: -4px;
    background-color: #1d1b21 !important;
    width: 9px;
    height: 9px;
    border-radius: 0px;
    border-width: 0px;
    transform: rotate(45deg);
    display: inline-block;
    vertical-align: middle;
  }
  & span.not-active{
    opacity: 0.5;
  }
}
.change-title {
  font-size: 20px !important;
  text-transform: uppercase !important;
  font-weight: 600;
  margin-bottom: 18px !important;
  font-family: "Inter", sans-serif !important;
  letter-spacing: -1px;
}
.box-left-info {
  margin-top: 6px;
}
.textarea-custom {
  min-width: 70px !important;
  position: relative !important;
  z-index: 1 !important;
  word-break: break-word;
  margin-left: 2px !important;
  .MuiInputBase-input {
    font-size: 15px !important;
    line-height: 25px !important;
    margin-left: 6px;
  }
  .MuiInput-underline {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus,
[contenteditable="true"]:hover {
  outline: 1px dashed #06cbaf;
  cursor: text !important;
}
[contenteditable="true"]:empty::before {
  color: #939295;
  content: attr(placeholder) !important;
  cursor: text !important;
  white-space: pre-line !important;
  font-style: italic;
}
.box-bottom .box-right {
  flex: 2;
}
.parent-sort {
  padding-left: 37px;
  position: relative;
}
.box-parent::after {
  content: "";
  position: absolute;
  left: 5px;
  height: 100%;
  width: 2px;
  top: -3px;
  background-color: #1d1b21;
}
.knowledge-content {
  padding: 18px 16px 1px;
  background: #1d1b2120;
  border-radius: 12px;
  position: relative;
  &::before {
    content: '"';
    position: absolute;
    bottom: 23px;
    right: -6px;
    font-size: 32px;
    font-weight: 600;
    font-family: "Calistoga", serif !important;
    max-height: 10px;
    width: 30px;
  }
  &::after {
    content: '"';
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 32px;
    font-weight: 600;
    font-family: "Calistoga", serif !important;
    max-height: 10px;
    width: 30px;
    text-align: center;
  }
}
.knowledge-input {
  .MuiInputBase-input {
    font-size: 15px !important;
    line-height: 1.4;
  }
  .MuiInput-underline {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }
}
.experience-class {
  overflow-wrap: break-word;
}
.box-time-line {
  position: relative;
  margin-bottom: 25px;
  padding-top: 10px;
}
.box-time-line .time-name-company {
  display: flex;
  margin-top: -10px;
  font-family: "Inter", sans-serif;
}
.box-time-line .time-name-company .box-date {
  margin-right: 25px;
  position: relative !important;
}
.date-1 {
  outline: none !important;
  display: inline-block !important;
  font-weight: 600;
  font-size: 18px !important;
  max-width: 100px !important;
}
.allow-select-time {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}
.box-time-line .time-name-company .block-child {
  position: relative;
  flex: 1;
  margin-left: 10px;
  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 8px;
    left: -20px;
    background-color: #1d1b21;
  }
  & h3 {
    font-family: "Inter", sans-serif;
    line-height: 24px;
    font-size: 18px !important;
    margin: 0 !important;
    text-transform: uppercase !important;
    color: #1d1b21;
    min-width: 70px !important;
    position: relative !important;
    z-index: 1 !important;
    word-break: break-word;
    font-weight: bold !important;
  }
}
.description-title {
  display: flex;
  justify-content: space-between;
  & h3 {
    font-family: "Inter", sans-serif;
    line-height: 24px;
    font-size: 18px !important;
    margin: 0 !important;
    text-transform: uppercase !important;
    color: #1d1b21;
    min-width: 70px !important;
    position: relative !important;
    z-index: 1 !important;
    word-break: break-word;
    font-weight: bold !important;
  }
}
.description-content {
  margin-top: 15px;
  position: relative !important;
  margin-left: 10px;
  .MuiInputBase-input {
    list-style-type: disc !important;
    list-style-position: inside;
    font-size: 15px !important;
    min-width: 70px !important;
    z-index: 1 !important;
    word-break: break-word;
  }
  .MuiInput-underline {
    &:before {
      content: unset;
    }

    &:after {
      content: unset;
    }
  }
}
.skill-custom {
  margin-top: 52px;
}
.box-title {
  display: flex;
  justify-content: space-between;
  & .MuiIconButton-root {
    padding: 0;
  }
}

.experience-buttons-edit {
  visibility: hidden;
  transition: visibility 0.3s;
  & .MuiIconButton-root {
    padding: 12px !important;
  }
}
.box-time-line:hover .experience-buttons-edit,
.box-time-line:hover .experience-buttons-delete {
  visibility: visible;
}
.experience-buttons-delete {
  visibility: hidden;
  transition: visibility 0.3s;
  & .MuiIconButton-root {
    padding: 12px !important;
  }
}
