.tab-content {
    background-color: rgba(227, 221, 221, 0.912);
    padding: 80px 50px;
    width: 75%;
}
.tab-content::-webkit-scrollbar {
    width: 0;
}
.custom-dialog-title {
    border-bottom: 1px solid #e0e0e0;
}

.hidden {
    display: none;
}
.button-center-register {
    justify-content: center;
}
.MuiTabs-root .MuiTabs-indicator {
    background-color: #7467ef !important;
}

.custom-tab {
    & .MuiTab-root {
        color: #7467ef !important;
        display: flex;
        align-items: flex-start;
    }
}

.title-custom-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.decision-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #7467ef;
}
.dialog-content-custom {
    width: 100%;
    padding: 16px 24px 16px 0 !important;
}

.dialog-content-custom::-webkit-scrollbar {
    width: 0;
}
.flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .dialog-content-custom {
        padding: 0 24px !important;
    }
    .MuiTabs-root {
        border: none !important;
    }
}
